.header {
  color: var(--header-backgraund);
  display: block;
}
.navigation-list {
  display: flex;
  margin-left: 93px;
}
.header-navigation {
  display: flex;
  align-items: center;
}
.navigation-list-item:not(:last-child) {
  margin-right: 30px;
}
.navigation-list-item-contact {
  margin-right: 30px;
}
.contact-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-logo {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--header-logo);
}
.contact-list {
  margin-right: 30px;
}
.header-flex-conteiner {
  display: flex;
  height: 80px;
}
.header-logo-second {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--titles-color);
}
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142px;
  letter-spacing: 0.02em;
  color: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list-item {
  position: relative;
}
.navigation-list-item::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: -31px;
  background-color: #2196f3;

  border-radius: 4px;
  opacity: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.active {
  color: #2196f3;
}
.active::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -31px;
  background-color: #2196f3;
  border-radius: 4px;
}
.navigation-list-item:hover::after {
  opacity: 1;
}

.navigation-list-link:hover::after .icon-header {
  fill: #757575;
  margin-right: 10px;
}
.navigation-list-link:hover,
.navigation-list-link:focus {
  /* .navigation-list-link:focus { */
  color: var(--accent-color);
}

.header-tel-link:hover {
  color: #2196f3;
}
.header-tel-link:hover .icon-header {
  fill: var(--accent-hover);
}

.icon-header {
  fill: #757575;
  margin-right: 10px;
}
