.header {
  color: $header-backgraund;
  display: block;

  &-logo {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $header-logo;

    &-second {
      font-family: $secondary-font;
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 1.2;
      letter-spacing: 0.03em;
      color: $titles-color;
    }
  }
  &-flex-conteiner {
    display: flex;
    height: 80px;
  }
}
.navigation-list {
  display: flex;
  margin-left: 93px;

  &-item {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      bottom: -31px;
      background-color: #2196f3;
      border-radius: 4px;
      opacity: 0;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &:hover::after {
      opacity: 1;
    }
    &-contact {
      margin-right: 30px;
    }
  }
  &-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142px;
    letter-spacing: 0.02em;
    color: #212121;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.header-navigation {
  display: flex;
  align-items: center;
}

.contact-list {
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-right: 30px;
}

.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  align-items: center;
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #2196f3;

    & .icon-header {
      fill: $accent-hover;
    }
  }
}

.active {
  color: #2196f3;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    bottom: -31px;
    background-color: #2196f3;
    border-radius: 4px;
  }
}

.icon-header {
  fill: #757575;
  margin-right: 10px;

  .navigation-list-link:hover::after & {
    fill: #757575;
    margin-right: 10px;
  }
}
