*,
::before,
::after {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: var(--body-main-font);
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
}
