$accent-color: #2094f3;
$header-backgraund: #ffffff;
$titles-color: #000000;
$header-logo: #2094f3;
$button-portfolio-backgraund: #2196f3;
$button-portfolio-text-color: #ffffff;
$body-main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$accent-hover: #2196f3;
$footer-backgraund: #2f303a;
